
/* Your CSS Code here. */

.container{
	display:flex;
    flex-direction:row;
	flex-flow:row wrap;
	justify-content:space-between;
}
.box{
	height:100px;
	width:100px;
	background-color:green;
	font-size:40px;
}
#box1{
   background-color: red;
  order:1;
	
}
#box2{
	background-color:blue;
	order:2;
}